body{
    margin: 0;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

.splash{
    width: 100vw;
    padding: 2vh 5vw; 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.splash>*{
    margin: 1vw;
}

.splash>.face{
    position: relative;
    margin-right: 15vw;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tagline{
    display: flex;
}

.tagline>h1~h1{
    margin-left: 1rem;
}

.jobTextContainer{
    position: relative;
    color: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: 1rem;
    white-space: nowrap;
}
.jobText{
    position: absolute;
    white-space: nowrap;
}

.cards{
    display: flex;
}

.cardContent{
    padding: 1vh 1vw;
    display:flex;
    justify-content: space-evenly;
}

.bioCard .cardContent{
    flex-direction: column;
}

.cardContent p{
    margin: 0.5rem 0;
}

.tutoringCard .cardContent>div{
    width: 47%;
}

.tutorfulLinkContainer{
    text-align: center;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tutoringDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1380px) {

    .splash{
        flex-direction: column;
        justify-content: center;
        padding: 2vh 0;
    }

    .tagline{
        flex-direction: column;
        margin-right: 0;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        padding: 2vh 4vw;
    }

    .card{
        margin-left: 0;
    }

    .cardContent{
        flex-direction: column;
        padding: 2vh;
    }
    .tutoringCard .cardContent>div{
        width: auto;
    }

    .splash .face{
        margin-right: 0;
    }
}