html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

h1{
    color: whitesmoke;
    margin: 0.5rem 0;
}

h2{
    font-size: 1.3rem;
    margin: 0.5rem 0;
    color: rgb(16, 23, 29);
}

a{
    text-decoration: none;
    
}

ul{
    margin-left: 1rem;
}

li{
    margin: 0.4rem 0;
}

.bio{
    font-style: italic;
    background-color: rgb(245, 245, 245);
    border-left: solid 0.3rem #463E84;
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.footer{
    font-size: 0.75rem;
}

.cardTop>h2{
    color: whitesmoke;
}

.tutorfulLink{
    color: whitesmoke;
    background-color: rgb(38, 33, 73);
    border: solid 0.1rem rgb(83, 83, 83);
    border-radius: 0.3rem;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.tutorfulLink:hover{
    color: rgb(83, 83, 83);
    background-color: whitesmoke;
    border: solid 0.1rem rgb(38, 33, 73);
    border-radius: 0.3rem;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.tutorHoursHeading{
    display: flex;
    justify-content: space-between;
}

.tutoringHours{
    color: whitesmoke;
    background-color: #463E84;
    padding: 0.3rem;
    border-radius: 0.3rem;
    
    margin-right: 1rem;
    font-weight: bold;
}

.socialButton{
    color: whitesmoke;
    padding: 1rem;
    font-size: 2rem;
}

.socialButton:hover{
    background-color: whitesmoke;
    color: rgb(42, 60, 75);
}

.emailLink{
    color: whitesmoke;
    padding: 0.5rem;
    border-radius: 0.1rem;
}

.emailLink:hover{
    background-color: whitesmoke;
    color: rgb(42, 60, 75);
}