html{
    scroll-behavior: smooth;
}

:root{
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: white;
}

body{
    padding: 0;
    margin: 0;
}

.fa{
    position: relative;
    top: 0.05em;
    left: 0.1em
}



h1{
    letter-spacing: 0.01em;
    font-weight: 400;
    text-shadow: 0 3px #0e1e22;
}

h2{
    font-weight: 300;
    color: white;
    font-style: italic;
}

h3{
    margin: 0;
}

a{
    color: #f3f3f3;
    text-decoration: none;
}

main{
    margin-top: -2rem;
    margin-right: 5rem;
    z-index: 1;
}

.button{
    font-size: 0.8em;
    font-weight: 400 !important;
    /* background-color: #64d3ff; */
    color: #f3f3f3;
    border: 2px solid #2c8fa8;
    background-color: #2c8fa8;
    box-shadow: 0px 0px 3px 0px #0000007e;
    padding: 0.5em 1.5em;
    user-select: none;
    font-style: italic;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.button:active{
    background-color: rgba(255, 255, 255, 0.103);
}

#splash{
    width: 100%;
    height: 50rem;
    position: relative;
    overflow: hidden;
    color: white;
}

#splash h1{
    font-family: poppins;
    margin-bottom: 1rem;
    font-size: 3.5em;
}
#splash h2{
    font-style: normal;
    font-size: 1.5em;
}

.splashBackground{
    z-index: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e1e22;
    /* background-image: url("/img/splash.png"); */
    background-size: 120%;
    /* filter: blur(4px) brightness(60%); */
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.splashContents{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(#06252b4d, #04070cc9);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8rem 12%;
}

.splashBio{
    font-size: 1.7em;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}


.splashBio *{
    margin: 0;
}



.splashContents>img{
    position: relative;
    top: 1rem;
    height: 20rem;
    outline-offset: 0rem;
    border: 1rem solid #0e1e22;
    box-shadow: 0px 0px 5px 0px #000000;
}

#page{
    z-index: 1;
    border-top: 2rem solid #0e1e22;
    background-color: #142b31;
    box-shadow: 0px 0px 5px 0px #000000;
    padding: 2rem 12%;
    min-height: 80vh;
}

#footer{
    padding-bottom: 4vh;
    background-color: #0e1e22;
    text-align: center;
}

.socialButton{
    padding: 1rem;
    font-size: 2rem !important;
}

.socialButton:hover, .emailLink:hover{
    background-color: #f3f3f3;
    color: #0e1e22;
}

.emailLink{
    color: #f3f3f3;
    padding: 0.5rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section>h2{
    text-align: center;
    font-size: 3em;
    padding-bottom: 2rem;
}


#projects{
    margin: 0 2%;
    margin-bottom: 10rem;
}
.infoCard{
    display: flex;
    font-size: 1.2rem;
    background-color: #0e1e22a1;
    padding: 2rem;
    justify-content: space-between;
    max-width: 70rem;
    margin-bottom: 2rem;
}

.infoCardLeft{
    width: 100%;
}

.infoCardLeft>p{
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.5)
}

.infoCardLeft li{
    margin: 1rem 0;
}

.infoCard h3{
    text-shadow: 0 3px #0e1e22;
    font-size: 1.4em;
    font-weight: normal;
}

.viewProjectButton{
    font-size: 1em;
}

.infoCardRight{
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: -10%;
    margin-left: -5%;
}

.infoCardRight>img{
    filter: drop-shadow(10px 10px 5px #0000007e);
    max-height: 20rem;
}

.desktopImg{
    position: absolute;
    height: 15rem;
    right: -5rem;
}

.mobileImg{
    position: absolute;
    right: -7rem;
    height: 12rem;
    top: 25%;
}

#vrCompareLogo{
    display: flex;
    align-items: center;
}

#vrCompareLogo>img{
    width: 5em;
    filter: drop-shadow(0 5px 2px #0000007e);
}
#vrCompareLogo>h3{
    font-weight: bold;
    padding-left: 0.3em;
    font-size: 1.6em;
    font-family: poppins, sans-serif;
    color: rgb(250, 250, 250);
    text-shadow: 0 5px #0e1e22;
}








.scrolling{
    animation-name: scrollingLeft;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    height: 100px;
    width: 100vw;
    left: 110vw;
    filter: blur(1px);
}

#scrolling1{
    background-color: #575186;
    animation-delay: 0;
    top: 0;
}

#scrolling2{
    background-color: #75cabb;
    animation-delay: -2s;
    top: 100%;
}

#scrolling3{
    background-color: #92b1cc;
    animation-delay: -4s;
    top: 70%;
}

#scrolling4{
    background-color: #575186;
    animation-delay: -6s;
    top: 20%;
}

#scrolling5{
    background-color: #75cabb;
    animation-delay: -8s;
    top: 60%;
}

#scrolling6{
    background-color: #92b1cc;
    animation-delay: -10s;
    top: 10%;
}

#scrolling7{
    background-color: #575186;
    animation-delay: -12s;
    top: 40%;
}

#scrolling8{
    background-color: #75cabb;
    animation-delay: -14s;
    top: 90%;
}

#scrolling9{
    background-color: #92b1cc;
    animation-delay: -5s;
    top: 30%;
}

#scrolling10{
    background-color: #575186;
    animation-delay: -11s;
    top: 10%;
}



@keyframes scrollingLeft{
    from{
        height: 80px;
        opacity: 30%;
        left: 110vw;
    }

    to{
        height: 0;
        opacity: 0%;
        left: -10vw;
    }
}


@media only screen and (min-width: 2000px){
}

@media only screen and (max-width: 1500px){
    :root{
        font-size: 10pt;
    }
}

@media only screen and (max-width: 1200px){

    
    main{
        margin: 0rem;
        margin-top: -10rem;
    }
    #splash{
        height: 55rem;
    }

    .splashBackground{
        justify-content: center;
    }

    .splashContents{
        padding: 0 5%;
        padding-top: 10rem;
        flex-direction: column;
        align-items: center;
    }

    .splashBio{
        align-items: center;
        height: 100%;
        padding-bottom: 5rem;
        text-align: center;
    }

    .splashContents>img{
    }

    .infoCard{
        flex-direction: column;
        height: auto;
        margin-bottom: 8rem;
    }

    .infoCardLeft{
        width: 100%;
        margin-bottom: 2rem;
    }

    .infoCardRight{
        position: relative;
        margin: 0;
        height: 12rem;
        width: 100%;
        right: 0;
        bottom: -3rem;
        align-items: center;
        justify-content: center;
    }

    .desktopImg{
        right: auto;
    }

    .mobileImg{
        padding-left: 15rem;
        right: auto;
    }
}

@media only screen and (max-width: 800px){
    :root{
        font-size: 8pt;
    }
    #page{
        padding: 1rem 0;
    }
}