* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 20px;
}

.navbar {
    width: 100%;
    background-color: hotpink;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: cyan;
}

.page {
    width: 100%;
    background-color: darkblue;
}

.content {
    padding: 100px;
    background-color: orange;
}

.splash{
    width: 100%;
    height:800px auto;
    background-color: green;

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "splashFace"
        "splashHeading";
    justify-items: center;
}

.splash>*{
    margin: 20px;
}

.splash>.face{
    grid-area: splashFace;
}

.splash>h1{
    font-weight: 500;
    grid-area: splashHeading;
}

.face{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    padding: 5px;
}

.jobText{
    font-weight: 800;
    animation: fastFade 5s infinite;
}

@keyframes fastFade{
    0%{color: whitesmoke;}
    20%{color: whitesmoke;}
    30%{color: transparent;}
    40%{color: whitesmoke;}
    100%{color: whitesmoke;}
}

.jobText::after{
    content: "programmer";
    animation: jobTextChange 20s infinite;
}

@keyframes jobTextChange{
    0% {content: "programmer";}
    25% {content: "tutor";}
    50% {content: "CS student";}
    75% {content: ""}
    100%{content: "programmer";}
}