#portfolio {
}

#navbar {
    background-color: #68A357;
    padding: 10px;
    margin: 0px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 2px 10px black;
    color:white;
}

#pageContent {
    background-color: #FFFBBD;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 0;
    border-top: 5px solid #68A357;
}

#splash {
    height: 300px;
}

#topSection{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#topsection>*{
    position: relative;
    top: -12vw;
}

#face {
    height: 24vw;
    width: 24vw;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    border: 5px solid #68A357;
    
}

body {
    background-color: #232020;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    
    #pageContent {
        width: 75vw;
    }

    #topSection{
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }

    #topsection>*{
        position: relative;
        top: 0;
        margin-left: 50px;
    }

    #topsection>#face{
        position: relative;
        top: -12vw;
        margin-right: 50px;
    }



}