* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 2vw;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

i {
    color: #463E84;
}

h1{
    margin: 0;
    padding: 3vw;
    font-size: 4.5rem;
}

h2{
    margin: 0;
    padding: 1vw;
    font-size: 2rem;
}

p{  
    margin: 1rem;
    font-size: 2rem;
}

hr {
    border: 0;
    height: 0.2vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.navbar {
    width: 100vw;
    background-color: #463E84;
    color: white;
    z-index: 100;
}

.footer {
    height: 30vh;
    width: 100%;
    background-color: cyan;
}

.page {
    z-index: 1;
    width: 100vw;
    height: auto;
    background-color: darkblue;
}

.content {
    padding: 5vw;
    background-color: #E6ECF2;
}

.cards {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "bioCard"
        "languagesCard";

    row-gap: 5vw;
}

.bioCard{
    grid-area: bioCard;
}

.languagesCard{
    grid-area: languagesCard;
}

.languagesList>p{
    position: relative;
}

.card {
    background-color: white;
    padding: 0;
    width: 100%;
    height: auto;
}

.card>h2{
    color: white;
    background-color: #463E84;
    padding: 5vw;
}

.cardContent {
    padding: 1vw;
}

.splash{
    width: 100%;
    height: auto;
    background-color: green;
    background-image: url("/static/img/splash.png");
    background-position: 0 0;
    background-size: 150vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "splashFace"
        "splashHeading";
    row-gap: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: 
        inset 0 10vh 10vh -10vh rgb(27, 180, 150),
        inset 0 -10vh 10vh -10vh rgb(27, 180, 150);
}

.splash>*{
    margin: 2vw;
    justify-self: center;
}

.splash>.face{
    grid-area: splashFace;
}

.tagline{
    grid-area: splashHeading;
    width: 85vw;
    height: auto;
}

.tagline>h1{
    font-weight: 500;
    text-align: left;
    color: whitesmoke;
}

.face{
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.5vw;
    padding: 1vw;
}

.jobText{
    font-weight: 700;
    animation: fastFade 6s infinite;
}

.alignRight{
    position: absolute;
    text-align: right;
    right: 0;
}

@keyframes fastFade{
    0%{color: #23F0C7;}
    20%{color: #23F0C7;}
    30%{color: transparent;}
    40%{color: #23F0C7;}
    100%{color: #23F0C7;}
}

.jobText::after{
    content: "programmer";
    animation: jobTextChange 18s infinite;
}

@keyframes jobTextChange{
    0% {content: "programmer";}
    33% {content: "tutor";}
    66% {content: "CS student";}
    100%{content: "programmer";}
}

@media screen and (min-width: 768px) {
    html{
        font-size: 0.5vw;
    }

    h1{
        margin: 0;
        padding: 1vw;
        font-size: 3rem;
    }
    
    h2{
        margin: 0;
        padding: 1vw;
        font-size: 2rem;
    }

    .content{
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .cards {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "bioCard bioCard ."
            ". languagesCard languagesCard";
    
        row-gap: 10vh;
    }

    .card>h2{
        color: white;
        background-color: #463E84;
        padding: 2vw;
    }

    

    .splash{
        background-size: 100vw;
        grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
        grid-template-areas:
            ". splashFace . splashHeading .";

        justify-content: space-evenly;
        align-items: center;

        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .face{
        width: 13vw;
        height: 13vw;
        border-width: 0.2vw;
        padding: 0.4vw;
    }

    .tagline{
        grid-area: splashHeading;
        width: 55vw;
        height: auto;
    }
    
    .tagline>h1{
        font-size: 6rem;
        font-weight: 500;
        text-align: left;
        color: whitesmoke;
        position: relative;
        left: 2vw;
    }
    
}