<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css", href="{{ url_for('static', filename='styles/master.css')}}">
        <title>Rory Brown</title>
    </head>

    <body>
        <div class = "navbar"><h1 class = "navTitle">Rory Brown</h1> <div class = "navButtons"><a href = "/tutoring">Tutoring</a></div></div>
        <div class = "page">
            {% block content %}{% endblock %}
        </div>
        <div class = "footer">
            <div class = "socialButtons">
                <a href = "https://www.twitter.com/rory660" class = "fa fa-twitter"></a>
                <a href = "https://www.instagram.com/rorysixsixoh" class = "fa fa-instagram"></a>
                <a href = "https://www.linkedin.com/in/rory660" class = "fa fa-linkedin"></a>
                <a href = "https://www.github.com/rory660" class = "fa fa-github"></a>
                <a href = "https://www.gitlab.com/rory660" class = "fa fa-gitlab"></a>
            </div>
            <p>
                Rory Brown (@rory660)
            </p>
        </div>
    </body>
</html>