<div class = "card languagesCard">
    <h2>Languages</h2>
    <div class = "cardContent languagesList">
        <p><span><i class="devicon-python-plain"></i> Python</span> <span class = "alignRight">Proficient ✓✓</span></p>
        <hr>
        <p><span><i class="devicon-java-plain"></i> Java</span> <span class = "alignRight">Proficient ✓✓</span></p>
        <hr>
        <p><span><i class="devicon-javascript-plain"></i> JavaScript</span> <span class = "alignRight">Proficient ✓✓</span></p>
        <hr>
        <p><span><i class="devicon-c-plain"></i> C</span> <span class = "alignRight">Competent ✓</span></p>
        <hr>
        <p><span><i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> HTML and CSS</span> <span class = "alignRight">Competent ✓</span></p>
    </div>
</div>