<div class = "card tutorSubjectsCard">
    <h2>Subjects</h2>
    <div class = "cardContent tutorSubjectsList">
        <div class = "schoolSubjects">
            <h2>Secondary CS</h2>
            <p>GCSE</p>
            <hr>
            <p>A-Level</p>
            <hr>
            <p>National 5</p>
            <hr>
            <p>Higher / Advanced Higher</p>
        </div>
        <div class = "uniSubjects">
            <h2>Tertiary CS</h2>
            <p>Undergraduate</p>
            <hr>
            <p>Postgraduate</p>
            <hr>
            <p>Exam Preparation</p>
            <hr>
            <p>Assignment Guidance</p>
        </div>
        <div class = "OtherSubjects">
            <h2>Other</h2>
            <p>Beginner Programming</p>
            <hr>
            <p>Language-specific Tutoring</p>
            <hr>
            <p>Applications and Systems Design</p>
            <hr>
            <p>Design Patterns / Good Practices</p>
        </div>
    </div>
</div>